<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <title>Guía</title>
</head>

<body>
    <%- include menu.ejs %>
    <div id="guia">
        <p>Es importante recordar que este sitio solo es con fines informativos
            y de ayuda para que las personas puedan familiarizarse en la realización 
            de una declaración, los datos obtenidos aquí pueden variar de el resultado 
            que le brinde el SAT
        </p>
        <br>
        <h1>Pasos para realizar tu declaración en la página del SAT</h1>
        <br>
        <br>
        <p>1.- Una vez que has realizado el ejercicio en la aplicación, ingresa a la página del SAT: https://www.sat.gob.mx .</p>
        <p>2.- Posteriormente da clic en "Declaraciones", selecciona "Anuales", seguido de "Presenta tu Declaración Anual para personas físicas".</p>
        <p>3.- Dentro de este apartado encontrarás información sobre la declaración seguido de un botón para iniciar con la declaración así como un pequeño instructivo en la realización de la declaración.</p>
        <img src="images/3.png" alt="">
        <img src="images/3.5.png" alt="">
        <br>
        <br>
        <p>4.- Como recordatorio, se tiene dos formas de ingresar para realizar una declaración:</p>
        <p>4.1 Con contraseña, para lo cual se requiere el RFC a 13 posiciones, tu contraseña y capturar el captcha.</p>
        <img src="images/4.1.jpg" alt="">
        <p>4.2 Con e.firma, para lo cual se requieren los archivos .cer y .key y la contraseña correspondiente.</p>
        <img src="images/4.5.jpg" alt="">
        <p>5.- Ya que te encuentras dentro de la página para realizar tu declaración puedes comenzar, tiene aspectos parecidos a esta aplicación.
            Recuerda tener a la mano cada una de las facturas que deseas agregar aunque de igual manera el SAT te permite tener 30 días 
            posteriores para concluir, eliminar o enviar la declaración; transcurrido el plazo solo podrás observar
            tu declaración precargada sin los cambios que hayas realizado.
        </p>
        <img src="images/7.1.jpg" alt="">
        <img src="images/7.jpg" alt="">
        <p>6.- La declaración ya cuenta también con algunos cuantos datos precargados, si lo consideras necesario puedes revisarlo y en su caso modificar.
            Para modificar deberás borrar el rubro que deseas e ingresarlo de nuevo.
        </p>
        <p>7.- Para el ingreso de información de una factura puedes tomar en cuenta la siguiente imagen sobre lo que puede pedir la página:</p>
        <img src="images/8.jpg" alt="">
        <img src="images/8.1.jpg" alt="">
        <p>8.- Si tienes dudas sobre que gastos puedes deducir, puedes consultar el Visor de deducciones personales
            que se encuentra en la página del SAT.
        </p>
        <img src="images/9.jpg" alt="">
        <p>9.- Para los impuestos en el extranjero en casos especiales donde no se conozca el país de donde se obtuvo
            se cuenta con la opción de Apátrida (que carece de nacionalidad), la cual se encuentra en el campo País origen del destino.
        </p>
        <img src="images/10.jpg" alt="">
        <p>10.- Ya que has revisado los apartados de tu declaración, si tiene saldo a favor existe un campo donde puede seleccionar que hacer con el.
            Igual en caso de salir con impuesto a pagar tiene opción de pagar en parcialidades.
        </p>
        <img src="images/11.jpg" alt="">
        <p>11.- Por último y muy importante el guardar sus acuses una vez terminada la declaración sin importar si tiene saldo a favor o con impuesto a pagar.
            En caso de olvidarlo puede consultarlo en la página del SAT en el apartado de impresión de acuse.
        </p>
        <img src="images/12.3.jpg" alt="">
        <img src="images/12.jpg" alt="">
        <img src="images/12.2.jpg" alt="">
        <p>12.- Recuerde marcar en la aplicación que ya ha realizado la delcaración para evitar confusiones a futuro.</p>
    </div>
    
</body>
</html>