<!DOCTYPE html>
<html>

<head>
    <title>Página de inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="arriba">
        <img src="../public/Images/Fondo.jpeg" alt="">
        <h1>Tus declaraciones de una forma sencilla</h1>
        <br>
        <div id="registro" onclick="window.location.href ='/Register'">
            <input id="crearRegistro" type="submit" value="Registrate ahora mismo"><br> 
        </div>
        <br>
        <div id="cuenta">
            <a href="/Login">Ya tengo una cuenta</a>
        </div>
    </div>


    <div id="medio">
        <div id="izquierda1a">
            <h3>¿Qué es una declaración?</h3>
            <div id="izquierda11a">
                <p>Es un documento que se debe presentar ante </p> <br>
                <p>el gobierno reportando la cantidad de ingresos</p>  <br>
                <p>que ganó en un año en particular.</p> 
            </div>
            <div id="derecha11a">
                <img src="../public/Images/2.jpg" alt="">
            </div>
        </div>

        <div id="derecha1a">
            <h3>Beneficios al realizar tu declaración</h3>
            <div id="derecha11aa">
                <p>Un beneficio es una reducción de los impuestos pagados</p><br>
                <p>a la autoridad fiscal (SAT) particularmente por los ingresos</p><br>
                <p>percibidos o generados durante un periodo de tiempo.</p>
            </div>
            <div id="derecha12a">
                <img src="../public/Images/2.jpg" alt="">
            </div>
        </div>

        <div id="derecha2a">
            <h3>Cómo trabajamos</h3>
            <div id="derecha21a">
                <img src="../public/Images/2.jpg" alt="">
            </div>
            <div id="derecha22a">
                <p>Nuestra página te proporciona un ejercicio básico con el fin</p> <br>
                <p>de que familiarices a la realización de una la declaración en la página oficial del SAT.</p>
            </div>
        </div>
    </div>

    <div id="abajo">
        <p>Contáctanos:</p>
            <p>Correo: wcs.company@email.com</p>
            <p>Número telefónico: +52-4421038796</p>
            <p id="logo">WCS®</p>
    </div>
</body>

</html>