<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <title>Inicia Sesión</title>
</head>

<body>
    <div id="izquierda">
        
    </div>
    <div id="derecha">
        <form action="/LoginValida" method="post">
            <h1>Bienvenido</h1>
            <img src="Images/user.png" alt="" width="100 %">

            <p>Correo:</p>
            <input id="mail" type="email" name="correo" placeholder="Correo" required><br>
            <p>Contraseña:</p>
            <input id="contra" type="password" name="contrasena" placeholder="Contraseña" required><br>
            <br>
            <input id="accede" type="submit" value="Acceder"><br>
        </form>
    </div>
</body>

</html>