<!DOCTYPE html>
<html>

<head>
    <title>HomePage</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='../stylesheets/stylemenu.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <ul>
        <li style="float: right"><a href="/Logout">Cerrar Sesión</a></li>
        <li style="float: right"><a href="/MyProfile">Perfil</a></li>
        <li style="float: right"><a href="/DeclaracionesPendientes">Pendientes</a></li>
        <li style="float: right"><a href="/MisDeclaraciones">Declaraciones</a></li>
        <li style="float: right"><a href="/NuevaDeclaracion">+Declaración</a></li>
        <li style="float: left"><a href="/HomePage">Inicio</a></li>
    </ul>
</body>

</html>